body {
    background-image: url("../img/DAEJIN_Background2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-frame {
    border: 1px solid black;
    text-align: center;
    width: 850px;
    margin: 0 auto;
}

.menu {
    margin-top: 50px;
}

.menu-img {
    float: left;
}

.copyright {
    margin-top: 50px;
}

#logo {
    margin-top: 50px;
}