.content {
    width: 500px;
    height: 300px;
    background-image: url("../data/style/photo-1573332039392-b66bd2bfa5bf.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.left {
    text-align: left;
    border: 1px solid black;
}

.center {
    text-align: center;
    font-size: 50px;
    border: 1px solid black;
}

.right  {
    text-align: right;
    border: 1px solid black;
}

div {
    float: left;
}